<!DOCTYPE html>
<html>
<head>
	<title>Distributor Login</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="col s12 m4 offset-m4">
      <div class="card">
        <div class="card-action teal lighten-1 white-text">
          <h4>Sign In Form</h4>
        </div>
        <div class="card-content">            
          <form action="/dlogin" method="post">
            <div class="input-field ">
              <i class="material-icons prefix">email</i>
              <input type="text" name="email" id="email" autocomplete="off">
              <label for="email">Email</label>
            </div>
            <div class="input-field ">
              <i class="material-icons prefix">lock</i>
              <input type="password" name="password" id="password" autocomplete="off">
              <label for="password">Password</label>
            </div>
            <button type="submit" class="waves-effect waves-light btn"><i class="material-icons left">send</i>Sign In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
    $('input.autocomplete').autocomplete({
    data: {
      "Apple": null,
      "Microsoft": null,
      "Google": 'https://placehold.it/250x250'
    },
    limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
    onAutocomplete: function(val) {
      // Callback function when value is autcompleted.
    },
    minLength: 1, // The minimum length of the input for the autocomplete to start. Default: 1.
  });
    </script>
</body>
</html>