<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Distributor Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pharma.css">
    <!-- Bootstrap core CSS -->
    <link href="css/style.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.bootstrap.css">

    <script>
        window.onload = function () {    
                var options = {
                    animationEnabled: true,
                    theme: "light2",
                    title: {
                        text: "Monthly Sales Data"
                    },
                    axisX: {
                        valueFormatString: "MMM"
                    },
                    axisY: {
                        prefix: "Rs.",
                        labelFormatter: addSymbols
                    },
                    toolTip: {
                        shared: true
                    },
                    legend: {
                        cursor: "pointer",
                        itemclick: toggleDataSeries
                    },
                    data: [
                        {
                            type: "column",
                            name: "Actual Sales",
                            showInLegend: true,
                            xValueFormatString: "MMMM YYYY",
                            yValueFormatString: "Rs#,##0",
                            dataPoints: [
                                { x: new Date(2018, 0), y: 20000 },
                                { x: new Date(2018, 1), y: 25000 },
                                { x: new Date(2018, 2), y: 30000 },
                                { x: new Date(2018, 3), y: 70000, indexLabel: "High Renewals" },
                                { x: new Date(2018, 4), y: 40000 },
                                { x: new Date(2018, 5), y: 60000 },
                                { x: new Date(2018, 6), y: 55000 },
                                { x: new Date(2018, 7), y: 33000 },
                                { x: new Date(2018, 8), y: 45000 }
                            ]
                        },
                        {
                            type: "line",
                            name: "Expected Sales",
                            showInLegend: true,
                            yValueFormatString: "Rs#,##0",
                            dataPoints: [
                                { x: new Date(2018, 0), y: 32000 },
                                { x: new Date(2018, 1), y: 37000 },
                                { x: new Date(2018, 2), y: 40000 },
                                { x: new Date(2018, 3), y: 52000 },
                                { x: new Date(2018, 4), y: 45000 },
                                { x: new Date(2018, 5), y: 47000 },
                                { x: new Date(2018, 6), y: 42000 },
                                { x: new Date(2018, 7), y: 43000 },
                                { x: new Date(2018, 8), y: 41000 }
                            ]
                        },
                        {
                            type: "area",
                            name: "Profit",
                            markerBorderColor: "white",
                            markerBorderThickness: 2,
                            showInLegend: true,
                            yValueFormatString: "Rs#,##0",
                            dataPoints: [
                                { x: new Date(2018, 0), y: 4000 },
                                { x: new Date(2018, 1), y: 7000 },
                                { x: new Date(2018, 2), y: 12000 },
                                { x: new Date(2018, 3), y: 40000 },
                                { x: new Date(2018, 4), y: 20000 },
                                { x: new Date(2018, 5), y: 35000 },
                                { x: new Date(2018, 6), y: 33000 },
                                { x: new Date(2018, 7), y: 20000 },
                                { x: new Date(2018, 8), y: 25000 }
                            ]
                        }]
                };
                $("#chartContainer").CanvasJSChart(options);
                function addSymbols(e) {
                    var suffixes = ["", "K", "M", "B"];
                    var order = Math.max(Math.floor(Math.log(e.value) / Math.log(1000)), 0);
                
                    if (order > suffixes.length - 1)
                        order = suffixes.length - 1;
                
                    var suffix = suffixes[order];
                    return CanvasJS.formatNumber(e.value / Math.pow(1000, order)) + suffix;
                }
                function toggleDataSeries(e) {
                    if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                        e.dataSeries.visible = false;
                    } else {
                        e.dataSeries.visible = true;
                    }
                    e.chart.render();
                }
                
                var options1 = {
	                exportEnabled: true,
	                animationEnabled: true,
	                title:{
		                text: "Accounting"
	                },
	                legend:{
		                horizontalAlign: "right",
		                verticalAlign: "center"
	                },
	                data: [{
		                type: "pie",
		                showInLegend: true,
		                toolTipContent: "<b>{name}</b>: &#x20b9;{y} (#percent%)",
		                indexLabel: "{name}",
		                legendText: "{name} (#percent%)",
		                indexLabelPlacement: "inside",
		                dataPoints: [
			                { y: 6566.4, name: "Now" },
			                { y: 7600.2, name: "Retruning" }
		                ]
	                }]
                };
                $("#chartContainer1").CanvasJSChart(options1);

            }
        </script>
</head>

<body>
    <nav class="navbar navbar-inverse no-margin navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/distributor"><i class="fa fa-user"></i> TULSI PHARMA</a>
        </div>
        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/distributor"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/distributor_logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <% if(title == 'Dashboard') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="/distributor_tulsi"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span>
                        Dashboard</a>
                </li>
                <% if(title == 'Orders') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="/distributor_order_tulsi"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-arrow-down fa-stack-1x "></i></span>Orders</a>
                </li>
                <% if(title == 'Retailers') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Retailers</a>
                </li>
                <% if(title == 'Inventoy Product') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="/distributor_product_tulsi"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-product-hunt fa-stack-1x "></i></span>Products</a>
                </li>
                <% if(title == 'Billing') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-fax fa-stack-1x "></i></span>Billing</a>
                </li>
                <% if(title == 'Accounting') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dollar fa-stack-1x "></i></span>Accounting</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div class="content" style="margin: 10px;">
            <div class="panel panel-default panel-table" style="padding: 2%">
                <div class="panel-heading" style="text-align: center">
                    Active Orders
                </div>
                <div class="panel-body table-responsive toogle-circle-filled">
                    <table id="porder" class="table table-stripped" style="overflow-x:auto;"">
                        <thead>
                            <tr>
                                <th data-toggle="
                        true">Order_Id</th>
                        <th data-hide="tablet, phone">Purchased_on</th>
                        <th>Retailer</th>
                        <th>Products</th>
                        <th>Amount</th>
                        <th data-hide="tablet, phone">Status</th>
                        <th data-hide="tablet, phone">DownloadCsv</th>
                        <th data-hide="tablet, phone">Mail</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="container1" style="display:none;"></div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/pharma.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.6/footable.core.min.js"></script>
    <script src="js/dataTables.js"></script>
    <script></script>
    <script>
        $(document).ready(function () {
            $('#porder').footable();
        });

        function dataCsv1(data) {}
    </script>
</body>

</html>