<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Distributor Review</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/style.min.css">
    </head>
    <body>
        <div class="container">
            <div class="card">
                    <h1 style="text-align: center;">Welcome to <br> Distributor Review System</h1>  
            </div>
        </div>
        <script src="js/jquery-3.3.1.min.js"></script>
    </body>
</html>
