<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Distributor Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/pharma.css">
    <!-- Bootstrap core CSS -->
    <link href="css/style.min.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-inverse no-margin navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/distributor_tulsi"><i class="fa fa-user"></i> TULSI PHARMA</a>
        </div>
        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/distributor_tulsi"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/distributor_logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
        <!-- bs-example-navbar-collapse-1 -->
    </nav>
    <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <% if(title == 'Dashboard') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="/distributor_tulsi"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span>
                        Dashboard</a>
                </li>
                <% if(title == 'Orders') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="/distributor_order_tulsi"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-arrow-down fa-stack-1x "></i></span>Orders</a>
                </li>
                <% if(title == 'Retailers') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-users fa-stack-1x "></i></span>Retailers</a>
                </li>
                <% if(title == 'Inventoy Product') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="/distributor_product_tulsi"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-product-hunt fa-stack-1x "></i></span>Products</a>
                </li>
                <% if(title == 'Billing') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-fax fa-stack-1x "></i></span>Billing</a>
                </li>
                <% if(title == 'Accounting') {  %>
                <li class="active">
                    <% } else {%>
                <li>
                    <% } %>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dollar fa-stack-1x "></i></span>Accounting</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <div id="content">
            <div class="container">
                <h2 class="text-danger">
                    TULSI PHARMA
                </h2>
                <h4>Today:
                    <%= moment(date).format('DD/MM/YY') %>
                </h4>
                <div style="background: rgb(34,34,34);height: 2px;margin-bottom: 10px;"></div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 col-lg-4" style="height: 240px;">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                <span style="margin-left:30%;">0 Order(s)</span>
                            </div>
                            <div class="panel-body">
                                <span>Approved 0</span>
                                <div class="progress" style="margin-bottom: -1px;">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0"
                                        aria-valuemax="100" aria-valuemin="0" style="width: 0%"></div>
                                </div>
                                <span>Packed 0</span>
                                <div class="progress" style="margin-bottom: -1px">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                        aria-valuemax="100" aria-valuemin="0" style="width: 0%"></div>
                                </div>
                                <span>Shipped 0</span>
                                <div class="progress" style="margin-bottom: -1px">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0"
                                        aria-valuemax="100" aria-valuemin="0" style="width: 0%"></div>
                                </div>
                                <span>Delivered 0</span>
                                <div class="progress" style="margin-bottom: -1px">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0"
                                        aria-valuemax="100" aria-valuemin="0" style="width: 0%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2"></div>
                    <div class="col-xs-12 col-md-6 col-lg-4" style="height: 240px;">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <span style="margin-left:30%;">0 Pharmacy</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-lg-3">
                        <div class="well">
                            <h4 class="text-danger">Max Order Size</h4>
                            <h4><span style="float: right;color: rgb(34,34,34);"><i class="fa fa-rupee"></i>0</span></h4>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well">
                            <h4 class="text-primary">Average Order Revenue</h4>
                            <h4><span style="float: right;color: rgb(34,34,34);"><i class="fa fa-rupee"></i>0</span></h4>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="well">
                            <h4 class="text-primary">Total Revenue</h4>
                            <h4><span style="float: right;color: rgb(34,34,34);"><i class="fa fa-rupee"></i>0</span></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                    </div>
                    <div class="col-lg-5">
                        <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/pharma.js"></script>
    <script src="js/canvas.js"></script>
</body>

</html>