<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags always come first -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><%= title %></title>
        <link rel="manifest" href="/manifest.json" />
        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function() {
                OneSignal.init({
                    appId: "a73efdd9-5008-4c9e-aa1f-6dfcb5e68990",
                    autoRegister: false,
                    notifyButton: {
                        enable: true,
                    },
                });
            });
        </script>
        <link rel="stylesheet" href="css/dataTables.css">
        <script>
            window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer", {
                animationEnabled: true,
                title: {
                    text: "Medicine And Quantity"
                },
                axisX: {
                    interval: 1,
                    title: "Medicine"
                },
                axisY: {
                    title: "Oty"
                },
                data: [{
                    type: "bar",
                    dataPoints: [
                        { label: "E", y: 5 },
                        { label: "D", y: 5 },
                        { label: "C", y: 5 },
                        { label: "B", y: 11 },
                        { label: "A", y: 20 }
                    ]
                }]
            });
            chart.render();
            var chart2 = new CanvasJS.Chart("chartContainer1", {
                animationEnabled: true,
                title: {
                    text: "Manufacturer And S K U's"
                },
                axisX: {
                    interval: 1,
                    title: "Manufacturer"
                },
                axisY: {
                    title: "S K U's"
                },
                data: [{
                    type: "bar",
                    dataPoints: [
                        { label: "A Pharma", y: 5 },
                        { label: "D Pharma", y: 2 },
                        { label: "C Pharma", y: 10 },
                        { label: "B Pharma", y: 15 },
                        { label: "Bio Pharma", y: 20 }
                    ]
                }]
                });
            chart2.render();
            }
        </script>
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="css/pharma.css">
        <!-- Bootstrap core CSS -->
        <link href="css/style.min.css" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-inverse no-margin navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
            <a class="navbar-brand" href="/pharmacy"><i class="fa fa-user"></i><%= doc.Name %></a>
        </div>
        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/pharmacy"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/pharmacy"><span class="glyphicon glyphicon-bell"></span></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                <li><a href="/pharmacy"></a></li>
            </ul>
        </div>
        <!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                <% if(title == 'Home') {  %> <li class="active">
                <% } else {%> <li> <% } %>
                    <a href="/pharmacy"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span> Home</a>
                </li>
                <% if(title == 'Dashboard') {  %> <li class="active">
                <% } else {%> <li> <% } %>
                    <a href="/pharmacy"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span> Dashboard</a>
                </li>
                <% if(title == 'Orders') {  %> <li class="active">
                <% } else {%> <li> <% } %>
                    <a href="/pharmacy_orders"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-arrow-down fa-stack-1x "></i></span>Orders</a>
                </li>
                <% if(title == 'Product') { %> <li class="active">
                <% } else { %><li> <% } %>
                    <a href="/pharmacy_product"><span class="fa-stack fa-lg pull-left"><i class="fa fa-product-hunt fa-stack-1x "></i></span>Products</a>
                </li>
                <li>
                    <a href="#"> <span class="fa-stack fa-lg pull-left"><i class="fa fa-bar-chart fa-stack-1x "></i></span>Sales</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dollar fa-stack-1x "></i></span>Invoice Print</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-star fa-stack-1x "></i></span>Reviews</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>Profile</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x "></i></span>Settings</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
