<!-- retailers home page-->
<% include pharmacy_portal.ejs %>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    var medicine = [
      "dolo 250mg 10/pack", "Dolo 250mg 10/pack","Dolo 250mg 10/pack","Dolo 250mg 10/pack"
    ];
    $( "#auto" ).autocomplete({
      source: medicine
    });
  } );

  function show(nr) {
    document.getElementById("tableData").style.display="none";
}
  </script>

  <!---search bar--->
<main>
<div class="container">
<form autocomplete="off" action="/pharmacy_home" >
  <div class="autocomplete" style="width:300px;position: relative; display: inline-block;">
    <input id="auto" type="text" placeholder="Search" style="border: 1px solid black;background-color: #f1f1f1; padding: 10px; font-size: 16px;margin-left: 100px;width: 150%;">
  </div>
  <button type="submit" onclick='show(1);' style="background-color: DodgerBlue;color: #fff;cursor: pointer;width: 10%;height: 47px;margin-left: 245px;"><i class="fa fa-search"></i></button>
</form>
</div>

<% include pharmacy_home_orderTable.ejs %>

</main>

</body>
</html>
