<!-- main layout of retailer portal--->
<% include pharmacy_header.ejs %>
<main>
   <nav class="navbar navbar-inverse no-margin navbar-fixed-top">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header fixed-brand">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" id="menu-toggle">
                <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
            </button>
      //      <a class="navbar-brand" href="/pharmacy"><i class="fa fa-user"></i><%= doc.Name %></a>
        </div>
        <!-- navbar-header-->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/pharmacy"><span class="glyphicon glyphicon-home"></span></a></li>
                <li><a href="/pharmacy"><span class="glyphicon glyphicon-bell"></span></a></li>
                <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                <li><a href="/pharmacy"></a></li>
            </ul>
        </div>
        <!-- bs-example-navbar-collapse-1 -->
        </nav>
        <div id="wrapper">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav nav-pills nav-stacked" id="menu">
                </li>
                <% if(title == 'Dashboard') {  %> <li class="active">
                <% } else {%> <li> <% } %>
                    <a href="/pharmacy"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dashboard fa-stack-1x"></i></span> Dashboard</a>
                </li>
                <% if(title == 'Orders') {  %> <li class="active">
                <% } else {%> <li> <% } %>
                    <a href="/pharmacy_orders"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cart-arrow-down fa-stack-1x "></i></span>Orders</a>
                </li>

                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-dollar fa-stack-1x "></i></span>Invoice Print</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-user fa-stack-1x "></i></span>Profile</a>
                </li>
                <li>
                    <a href="#"><span class="fa-stack fa-lg pull-left"><i class="fa fa-cog fa-stack-1x "></i></span>Settings</a>
                </li>

            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
</main>
