
        <% include pharmacy_header %>
        <div class="container">
                   <h2 class="text-primary">Inventory Products</h2>
                   <div style="width: 100%;height: 2px;background: rgb(34,34,34);"></div>
                   <h3>Today : <%= moment(Date.now()).format('DD/MM/YY') %></h3>
                   <div class="row">
                       <div class="col-lg-5">
                        <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                       </div>
                       <div class="col-lg-5">
                        <div id="chartContainer1" style="height: 300px; width: 100%;"></div>
                       </div>
                   </div>
                   <div class="panel panel-default panel-table" style="margin-top: 30px;margin-right: 10%;padding: 2%;">
                        <div class="panel-heading" style="text-align: center">
                            Products
                        </div>
                        <div class="panel-body">                    
            <table id="porder" class="display" style="width: 100%">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Thumbnail</th>
                        <th>Name</th>
                        <th>SKU</th>
                        <th>Manufacturer</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td><img src="" alt=""></td>
                        <td>A-Syrup</td>
                        <td>ABC-Str</td>
                        <td>Bio-Pharma</td>
                        <td>20</td>
                        <td>200</td>
                        <td>240</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td><img src="" alt=""></td>
                        <td>T-Tab</td>
                        <td>AB-Str</td>
                        <td>Bio-Pharma</td>
                        <td>40</td>
                        <td>300</td>
                        <td>400</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td><img src="" alt=""></td>
                        <td>AC-Syrup</td>
                        <td>BC-Str</td>
                        <td>A-Pharma</td>
                        <td>50</td>
                        <td>250</td>
                        <td>24</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td><img src="" alt=""></td>
                        <td>AB-Gel</td>
                        <td>AC-Str</td>
                        <td>B-Pharma</td>
                        <td>29</td>
                        <td>190</td>
                        <td>20</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </div>
               </div>
            </div>
            <!-- /#wrapper -->
            <script src="js/jquery-3.3.1.min.js"></script>
            <script src="js/pharma.js"></script>
            <script src="js/canvas.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.jqueryui.min.js"></script>
            <script ></script>
            <script>
                $(document).ready(function() {
                    $('#porder').DataTable();
                });
            </script>
    
        </body>
</html>
