<!-- retailers home page-->
<% include pharmacy_portal.ejs %>
  <!---search bar--->
<main>
<div class="container">
<form autocomplete="off" action="/pharmacy_home" id="form">
  <div class="autocomplete" style="width:300px;position: relative; display: inline-block;">
    <input id="auto" type="text" placeholder="Search" style="border: 1px solid black;background-color: #f1f1f1; padding: 10px; font-size: 16px;margin-left: 100px;width: 150%;">
  </div>
  <button type="submit" style="background-color: DodgerBlue;color: #fff;cursor: pointer;width: 10%;height: 47px;margin-left: 245px;"><i class="fa fa-search"></i></button>
</form>
</div>

<% include pharmacy_home_orderTable.ejs %>

</main>

</body>
</html>
