table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 20px;
  text-align: centre;
}

.btn {
  background-color: DodgerBlue;
  border: none;
  border-radius: 15px;
  color: white;
  cursor: pointer;
}
